.parks-page-container {
    background-image: url(./../../../public/assets/parks-page-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: 5em min-content 65em;
}

.park-details-container {
    grid-area: 3 / 2;
    background-color: rgb(247, 166, 15, .9);
    border-radius: 12px;
    display: flex;
    justify-content: left;
    padding: 1em;
    color: white;
    max-width: min-content;
    max-height: min-content;
    justify-self: left;
    font-size: 1.5em;
}

.park-details- {
    grid-column-start: 2;
    grid-row-end: 3;
    background-color: rgb(247, 166, 15, .9);
    border-radius: 12px;
    display: flex;
    justify-content: left;
    padding: 1em;
    color: white;
    justify-self: left;
    font-size: 1.5em;
    max-width: max-content;
}

.state-name {
    grid-column-start: 1;
    margin-left: 1.5em;
    max-height: fit-content;
}

.park-cards-container {
    grid-column-start: 1;
    margin-left: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.park-cards-container::-webkit-scrollbar {
    display: none;
}