path {
    pointer-events: all;
}

path:hover {
    cursor: pointer;
    fill: #faa405;
    opacity: 0.8;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(./../../../public/assets/pixel-trail.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.landing-page-container h1 {
    color: white;
    background-color: #faa405;
    border-radius: 12px;
    padding: 0.25em;
}

.logo-container {
    background-image: url(./../../../public/assets/park-explorer-logo.png);
    min-height: 23em;
    min-width: 30em;
    background-repeat: no-repeat;
    margin-top: 5em;
}